*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans', sans-serif;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  /* scrollbar-width: none; */
}

:root {
  --primary-dark-mode: #787AE8;
  --dark-mode-background: #121212;
  --dark-mode-foreground: #343434;
}

/* ::-webkit-scrollbar {
  display: none;
} */

img {
  pointer-events: none;
  -webkit-pointer-events: none;
}

input,
input:before,
input:after {
  box-sizing: border-box;
  -webkit-user-select: initial;
  -khtml-user-select: initial;
  -moz-user-select: initial;
  -ms-user-select: initial;
  user-select: initial;
}



::-webkit-scrollbar {
  width: 11px;
}

::-webkit-scrollbar-thumb {
  background-color: #1F2366;
  margin: 3px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
}

@media (prefers-color-scheme: dark) {
  body {
    color: white;
    background-color:  var(--dark-mode-background);
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--primary-dark-mode);
  }
  
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #8F95EE;
  }
}
